Package: com.luck.xhyy
Name: Test
Depends: mobilesubstrate,firmware(>=9.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: luck
Author: luck
Section: Tweaks
Version: 1.0-34+debug
Installed-Size: 76
